.max-w-fit, .max-w-prose {
    max-width: 100%;
}

thead {
  display: none;
}

.my-photo {
    border-radius: 8px; 
    width: 30%;
    height: auto;
    float: left;
    margin-right: 20px;
}

@media only screen and (max-width: 600px) {
    .my-photo {
        border-radius: 8px; 
        width: 80%;
        height: auto;
        float: none;
    }
    .linebreak-cls {
        display: none !important
    }
}

.revit-badge {
    width: 20%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .revit-badge {
        border-radius: 8px; 
        width: 30%;
        height: auto;
    }
}

.mcprep-35-splash {
    border-radius: 8px;
    width: 80%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .mcprep-35-splash {
        border-radius: 8px; 
        width: 100%;
        height: auto;
    }
}

/* Major Pieces */
.main-major-piece {
    border-radius: 8px;
    width: 50%;
    height: auto;
}

.summer-2024-major-piece {
    border-radius: 8px;
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .main-major-piece {
        border-radius: 8px; 
        width: 80%;
        height: auto;
    }
}
