.max-w-fit, .max-w-prose {
    max-width: 100%;
}

.my-photo {
    border-radius: 8px; 
    width: 40%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .my-photo {
        border-radius: 8px; 
        width: 80%;
        height: auto;
    }
}

.revit-badge {
    width: 20%;
    height: auto;
}

.mcprep-35-splash {
    border-radius: 8px;
    width: 80%;
    height: auto;
}
