<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 dark:bg-slate-100 bg-slate-950 bg-opacity-50 transition-opacity backdrop-blur-lg" id="background" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto drop-shadow-lg" id="modal" >
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div class="relative transform overflow-hidden rounded-lg bg-black text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-slate-100 dark:bg-slate-950 px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true" data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold" id="modal-title">Mature Content Warning</h3>
              <div class="mt-2">
                <p class="text-sm">This page contains mature or suggestive content that may not be suitable for all audiences.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-slate-100 dark:bg-slate-950 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button" class="inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm bg-primary-600 bg-red-600 hover:bg-red-500 sm:ml-3 sm:w-auto" onclick="goBackNSFW();">Go Back</button>
          <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md px-3 py-2 text-sm font-semibold shadow-sm ring-1 ring-inset ring-gray-300 dark:ring-gray-500 bg-slate-50 hover:bg-slate-100 dark:bg-slate-900 dark:hover:bg-slate-950 sm:mt-0 sm:w-auto" onclick="proceedNSFW();">Proceed</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function proceedNSFW() {
  const backdrop = document.getElementById("background");
  const modal = document.getElementById("modal");

  backdrop.setAttribute('style', 'visibility: hidden');
  modal.setAttribute('style', 'visibility: hidden');
}
function goBackNSFW() {
   window.location.href = "/";
}
</script>
