<div class="px-8">
  <div class="grid items-start justify-center">
    <div class="relative group">
      <div class="absolute -inset-0.5 bg-gradient-to-r from-pink-600 to-purple-600 rounded-lg blur opacity-75 group-hover:opacity-100 transition duration-1000 group-hover:duration-200 animate-tilt"></div>
        <button 
          {{ if .Get "scroll" }}
            {{ with .Get "target" }}
              onclick="window.location.href={{ . }}"
              target="_self"
            {{ end }}
          {{ else }}
            {{ with .Get "target" }}
            onclick="window.open({{ . }}, 'blank')"
            {{ end }}
          {{ end }}
          class="relative px-7 py-4 bg-black rounded-lg leading-none flex items-center divide-x divide-gray-600" 
          type="button">
          <span class="!rounded-md !text-neutral !no-underline">
            {{ .Inner }}
          </span>
        </button>
    </div>
  </div>
</div>
